*{
    color: white;
}

body{
    background-color: rgb(59, 22, 95);
}
h1{
    color: turquoise;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    color: rgb(51, 72, 65);
}

button{
    color: black;
}

#text{
    color: red
}

.hetero{
    display: none;
}
